{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        com.netflix.concurrency-limits/concurrency-limits-core {:mvn/version "0.5.4"}}
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
         :exec-fn kaocha.runner/exec-fn
         :exec-args {:kaocha/tests [{:kaocha.testable/type :kaocha.type/clojure.test
                                     :kaocha.testable/id :unit
                                     :kaocha/source-paths ["src"]
                                     :kaocha/test-paths ["test"]
                                     :kaocha/ns-patterns [".*-test$"]}]
                     :kaocha/reporter [kaocha.report/dots]
                     :kaocha/color? true}}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.3.1"}
                       cider/cider-nrepl {:mvn/version "0.55.7"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}}}
